.site-branding {
  height: 20vh;
  background-image: url('../img/wp_background.jpg');
    background-position: center;
    background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
 /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  margin-bottom: 0;*/
  
}

.site-title h1 {
  padding: 5px 10px;
  background-color: #262626;
  font-weight: bolder;
  font-size: 85px;
}

p.site-title {
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 0px !important;
}

.site-title a {
  color: #c5ba97;
  text-decoration: none;
}

.site-description {
  font-weight: bolder;
  color: white;
}

.site-title a:hover {
  text-decoration: none;
}

.site-footer {
  background-color: #262626;
  padding: 20px;
}

.site-footer .site-info {
  text-align: center;
}

.site-footer .site-info a {
  color: #67655D;
}
