/**
 * Twenty Seventeen: Dark Color Scheme
 *
 * See inc/color-patterns.php for dynamic color overrides for the theme.
 *
 * Colors are ordered from light to dark.
 */

.colors-silvio button,
.colors-silvio input[type="button"],
.colors-silvio input[type="submit"],
.colors-silvio .entry-footer .edit-link a.post-edit-link {
	background-color: #fff;
}

.colors-silvio a:hover,
.colors-silvio a:active,
.colors-silvio .entry-content a:focus,
.colors-silvio .entry-content a:hover,
.colors-silvio .entry-summary a:focus,
.colors-silvio .entry-summary a:hover,
.colors-silvio .widget a:focus,
.colors-silvio .widget a:hover,
.colors-silvio .site-footer .widget-area a:focus,
.colors-silvio .site-footer .widget-area a:hover,
.colors-silvio .posts-navigation a:focus,
.colors-silvio .posts-navigation a:hover,
.colors-silvio .comment-metadata a:focus,
.colors-silvio .comment-metadata a:hover,
.colors-silvio .comment-metadata a.comment-edit-link:focus,
.colors-silvio .comment-metadata a.comment-edit-link:hover,
.colors-silvio .comment-reply-link:focus,
.colors-silvio .comment-reply-link:hover,
.colors-silvio .widget_authors a:focus strong,
.colors-silvio .widget_authors a:hover strong,
.colors-silvio .entry-title a:focus,
.colors-silvio .entry-title a:hover,
.colors-silvio .entry-meta a:focus,
.colors-silvio .entry-meta a:hover,
.colors-silvio.blog .entry-meta a.post-edit-link:focus,
.colors-silvio.blog .entry-meta a.post-edit-link:hover,
.colors-silvio.archive .entry-meta a.post-edit-link:focus,
.colors-silvio.archive .entry-meta a.post-edit-link:hover,
.colors-silvio.search .entry-meta a.post-edit-link:focus,
.colors-silvio.search .entry-meta a.post-edit-link:hover,
.colors-silvio .page-links a:focus .page-number,
.colors-silvio .page-links a:hover .page-number,
.colors-silvio .entry-footer .cat-links a:focus,
.colors-silvio .entry-footer .cat-links a:hover,
.colors-silvio .entry-footer .tags-links a:focus,
.colors-silvio .entry-footer .tags-links a:hover,
.colors-silvio .post-navigation a:focus,
.colors-silvio .post-navigation a:hover,
.colors-silvio .pagination a:not(.prev):not(.next):focus,
.colors-silvio .pagination a:not(.prev):not(.next):hover,
.colors-silvio .comments-pagination a:not(.prev):not(.next):focus,
.colors-silvio .comments-pagination a:not(.prev):not(.next):hover,
.colors-silvio .logged-in-as a:focus,
.colors-silvio .logged-in-as a:hover,
.colors-silvio a:focus .nav-title,
.colors-silvio a:hover .nav-title,
.colors-silvio .edit-link a:focus,
.colors-silvio .edit-link a:hover,
.colors-silvio .site-info a:focus,
.colors-silvio .site-info a:hover,
.colors-silvio .widget .widget-title a:focus,
.colors-silvio .widget .widget-title a:hover,
.colors-silvio .widget ul li a:focus,
.colors-silvio .widget ul li a:hover {
	color: #fff;
}

.colors-silvio .entry-content a:focus,
.colors-silvio .entry-content a:hover,
.colors-silvio .entry-summary a:focus,
.colors-silvio .entry-summary a:hover,
.colors-silvio .widget a:focus,
.colors-silvio .widget a:hover,
.colors-silvio .site-footer .widget-area a:focus,
.colors-silvio .site-footer .widget-area a:hover,
.colors-silvio .posts-navigation a:focus,
.colors-silvio .posts-navigation a:hover,
.colors-silvio .comment-metadata a:focus,
.colors-silvio .comment-metadata a:hover,
.colors-silvio .comment-metadata a.comment-edit-link:focus,
.colors-silvio .comment-metadata a.comment-edit-link:hover,
.colors-silvio .comment-reply-link:focus,
.colors-silvio .comment-reply-link:hover,
.colors-silvio .widget_authors a:focus strong,
.colors-silvio .widget_authors a:hover strong,
.colors-silvio .entry-title a:focus,
.colors-silvio .entry-title a:hover,
.colors-silvio .entry-meta a:focus,
.colors-silvio .entry-meta a:hover,
.colors-silvio.blog .entry-meta a.post-edit-link:focus,
.colors-silvio.blog .entry-meta a.post-edit-link:hover,
.colors-silvio.archive .entry-meta a.post-edit-link:focus,
.colors-silvio.archive .entry-meta a.post-edit-link:hover,
.colors-silvio.search .entry-meta a.post-edit-link:focus,
.colors-silvio.search .entry-meta a.post-edit-link:hover,
.colors-silvio .page-links a:focus .page-number,
.colors-silvio .page-links a:hover .page-number,
.colors-silvio .entry-footer .cat-links a:focus,
.colors-silvio .entry-footer .cat-links a:hover,
.colors-silvio .entry-footer .tags-links a:focus,
.colors-silvio .entry-footer .tags-links a:hover,
.colors-silvio .post-navigation a:focus,
.colors-silvio .post-navigation a:hover,
.colors-silvio .pagination a:not(.prev):not(.next):focus,
.colors-silvio .pagination a:not(.prev):not(.next):hover,
.colors-silvio .comments-pagination a:not(.prev):not(.next):focus,
.colors-silvio .comments-pagination a:not(.prev):not(.next):hover,
.colors-silvio .logged-in-as a:focus,
.colors-silvio .logged-in-as a:hover,
.colors-silvio a:focus .nav-title,
.colors-silvio a:hover .nav-title,
.colors-silvio .edit-link a:focus,
.colors-silvio .edit-link a:hover,
.colors-silvio .site-info a:focus,
.colors-silvio .site-info a:hover,
.colors-silvio .widget .widget-title a:focus,
.colors-silvio .widget .widget-title a:hover,
.colors-silvio .widget ul li a:focus,
.colors-silvio .widget ul li a:hover {
	-webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0), 0 3px 0 rgba(255, 255, 255, 1); /* Equivalant to #fff */
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0), 0 3px 0 rgba(255, 255, 255, 1); /* Equivalant to #fff */
}

.colors-silvio .entry-content a,
.colors-silvio .entry-summary a,
.colors-silvio .widget a,
.colors-silvio .site-footer .widget-area a,
.colors-silvio .posts-navigation a,
.colors-silvio .widget_authors a strong {
	-webkit-box-shadow: inset 0 -1px 0 rgba(240, 240, 240, 1); /* Equivalant to #f0f0f0 */
	box-shadow: inset 0 -1px 0 rgba(240, 240, 240, 1); /* Equivalant to #f0f0f0 */
}

body.colors-silvio,
.colors-silvio button,
.colors-silvio input,
.colors-silvio select,
.colors-silvio textarea,
.colors-silvio h3,
.colors-silvio h4,
.colors-silvio h6,
.colors-silvio label,
.colors-silvio .entry-title a,
.colors-silvio.twentyseventeen-front-page .panel-content .recent-posts article,
.colors-silvio .entry-footer .cat-links a,
.colors-silvio .entry-footer .tags-links a,
.colors-silvio .format-quote blockquote,
.colors-silvio .nav-title,
.colors-silvio .comment-body {
	/*color: #eee;*/
	color: green;
}

/* Placeholder text color -- selectors need to be separate to work. */
.colors-silvio ::-webkit-input-placeholder {
	color: #ddd;
}

.colors-silvio :-moz-placeholder {
	color: #ddd;
}

.colors-silvio ::-moz-placeholder {
	color: #ddd;
}

.colors-silvio :-ms-input-placeholder {
	color: #ddd;
}

.colors-silvio input[type="text"]:focus,
.colors-silvio input[type="email"]:focus,
.colors-silvio input[type="url"]:focus,
.colors-silvio input[type="password"]:focus,
.colors-silvio input[type="search"]:focus,
.colors-silvio input[type="number"]:focus,
.colors-silvio input[type="tel"]:focus,
.colors-silvio input[type="range"]:focus,
.colors-silvio input[type="date"]:focus,
.colors-silvio input[type="month"]:focus,
.colors-silvio input[type="week"]:focus,
.colors-silvio input[type="time"]:focus,
.colors-silvio input[type="datetime"]:focus,
.colors-silvio input[type="datetime-local"]:focus,
.colors-silvio input[type="color"]:focus,
.colors-silvio textarea:focus,
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border-color: #eee;
}

.colors-silvio input[type="text"]:focus,
.colors-silvio input[type="email"]:focus,
.colors-silvio input[type="url"]:focus,
.colors-silvio input[type="password"]:focus,
.colors-silvio input[type="search"]:focus,
.colors-silvio input[type="number"]:focus,
.colors-silvio input[type="tel"]:focus,
.colors-silvio input[type="range"]:focus,
.colors-silvio input[type="date"]:focus,
.colors-silvio input[type="month"]:focus,
.colors-silvio input[type="week"]:focus,
.colors-silvio input[type="time"]:focus,
.colors-silvio input[type="datetime"]:focus,
.colors-silvio input[type="datetime-local"]:focus,
.colors-silvio input[type="color"]:focus,
.colors-silvio textarea:focus,
.colors-silvio button.secondary,
.colors-silvio input[type="reset"],
.colors-silvio input[type="button"].secondary,
.colors-silvio input[type="reset"].secondary,
.colors-silvio input[type="submit"].secondary,
.colors-silvio a,
.colors-silvio .site-title,
.colors-silvio .site-title a,
.colors-silvio .navigation-top a,
.colors-silvio .dropdown-toggle,
.colors-silvio .menu-toggle,
.colors-silvio .page .panel-content .entry-title,
.colors-silvio .page-title,
.colors-silvio.page:not(.twentyseventeen-front-page) .entry-title,
.colors-silvio .page-links a .page-number,
.colors-silvio .comment-metadata a.comment-edit-link,
.colors-silvio .comment-reply-link .icon,
.colors-silvio h2.widget-title,
.colors-silvio mark,
.colors-silvio .post-navigation a:focus .icon,
.colors-silvio .post-navigation a:hover .icon,
.colors-silvio.blog .entry-meta a.post-edit-link,
.colors-silvio.archive .entry-meta a.post-edit-link,
.colors-silvio.search .entry-meta a.post-edit-link,
.colors-custom .twentyseventeen-panel .recent-posts .entry-header .edit-link {
	color: #ddd;
}

.colors-silvio h2,
.colors-silvio blockquote,
.colors-silvio input[type="text"],
.colors-silvio input[type="email"],
.colors-silvio input[type="url"],
.colors-silvio input[type="password"],
.colors-silvio input[type="search"],
.colors-silvio input[type="number"],
.colors-silvio input[type="tel"],
.colors-silvio input[type="range"],
.colors-silvio input[type="date"],
.colors-silvio input[type="month"],
.colors-silvio input[type="week"],
.colors-silvio input[type="time"],
.colors-silvio input[type="datetime"],
.colors-silvio input[type="datetime-local"],
.colors-silvio input[type="color"],
.colors-silvio textarea,
.colors-silvio .navigation-top .current-menu-item > a,
.colors-silvio .navigation-top .current_page_item > a,
.colors-silvio .entry-content blockquote.alignleft,
.colors-silvio .entry-content blockquote.alignright,
.colors-silvio .taxonomy-description,
.colors-silvio .site-info a,
.colors-silvio .wp-caption {
	color: #ccc;
}

.colors-silvio abbr,
.colors-silvio acronym {
	border-bottom-color: #ccc;
}

.colors-silvio h5,
.main-navigation a:hover,
.colors-silvio .entry-meta,
.colors-silvio .entry-meta a,
.colors-silvio .nav-subtitle,
.colors-silvio .comment-metadata,
.colors-silvio .comment-metadata a,
.colors-silvio .no-comments,
.colors-silvio .comment-awaiting-moderation,
.colors-silvio .page-numbers.current,
.colors-silvio .page-links .page-number,
.colors-silvio .site-description {
	color: #bbb;
}

.colors-silvio button:hover,
.colors-silvio button:focus,
.colors-silvio input[type="button"]:hover,
.colors-silvio input[type="button"]:focus,
.colors-silvio input[type="submit"]:hover,
.colors-silvio input[type="submit"]:focus,
.colors-silvio .prev.page-numbers:focus,
.colors-silvio .prev.page-numbers:hover,
.colors-silvio .next.page-numbers:focus,
.colors-silvio .next.page-numbers:hover,
.colors-silvio .entry-footer .edit-link a.post-edit-link:focus,
.colors-silvio .entry-footer .edit-link a.post-edit-link:hover {
	background: #bbb;
}

.colors-silvio .social-navigation a:hover,
.colors-silvio .social-navigation a:focus {
	background: #999;
	color: #222;
}

.colors-silvio .entry-footer .cat-links .icon,
.colors-silvio .entry-footer .tags-links .icon {
	color: #666;
}

.colors-silvio button.secondary:hover,
.colors-silvio button.secondary:focus,
.colors-silvio input[type="reset"]:hover,
.colors-silvio input[type="reset"]:focus,
.colors-silvio input[type="button"].secondary:hover,
.colors-silvio input[type="button"].secondary:focus,
.colors-silvio input[type="reset"].secondary:hover,
.colors-silvio input[type="reset"].secondary:focus,
.colors-silvio input[type="submit"].secondary:hover,
.colors-silvio input[type="submit"].secondary:focus,
.colors-silvio .social-navigation a,
.colors-silvio hr {
	background: #555;
}

.colors-silvio input[type="text"],
.colors-silvio input[type="email"],
.colors-silvio input[type="url"],
.colors-silvio input[type="password"],
.colors-silvio input[type="search"],
.colors-silvio input[type="number"],
.colors-silvio input[type="tel"],
.colors-silvio input[type="range"],
.colors-silvio input[type="date"],
.colors-silvio input[type="month"],
.colors-silvio input[type="week"],
.colors-silvio input[type="time"],
.colors-silvio input[type="datetime"],
.colors-silvio input[type="datetime-local"],
.colors-silvio input[type="color"],
.colors-silvio textarea,
.colors-silvio select,
.colors-silvio fieldset,
.colors-silvio .widget .tagcloud a:hover,
.colors-silvio .widget .tagcloud a:focus,
.colors-silvio .widget.widget_tag_cloud a:hover,
.colors-silvio .widget.widget_tag_cloud a:focus,
.colors-silvio .wp_widget_tag_cloud a:hover,
.colors-silvio .wp_widget_tag_cloud a:focus {
	border-color: #555;
}

.colors-silvio button.secondary,
.colors-silvio input[type="reset"],
.colors-silvio input[type="button"].secondary,
.colors-silvio input[type="reset"].secondary,
.colors-silvio input[type="submit"].secondary,
.colors-silvio .prev.page-numbers,
.colors-silvio .next.page-numbers {
	background-color: #444;
}

.colors-silvio .widget .tagcloud a,
.colors-silvio .widget.widget_tag_cloud a,
.colors-silvio .wp_widget_tag_cloud a {
	border-color: #444;
}

.colors-silvio.twentyseventeen-front-page article:not(.has-post-thumbnail):not(:first-child),
.colors-silvio .widget ul li {
	border-top-color: #444;
}

.colors-silvio .widget ul li {
	border-bottom-color: #444;
}

.colors-silvio pre,
.colors-silvio mark,
.colors-silvio ins,
.colors-silvio input[type="text"],
.colors-silvio input[type="email"],
.colors-silvio input[type="url"],
.colors-silvio input[type="password"],
.colors-silvio input[type="search"],
.colors-silvio input[type="number"],
.colors-silvio input[type="tel"],
.colors-silvio input[type="range"],
.colors-silvio input[type="date"],
.colors-silvio input[type="month"],
.colors-silvio input[type="week"],
.colors-silvio input[type="time"],
.colors-silvio input[type="datetime"],
.colors-silvio input[type="datetime-local"],
.colors-silvio input[type="color"],
.colors-silvio textarea,
.colors-silvio select,
.colors-silvio fieldset {
	background: #333;
}

.colors-silvio tr,
.colors-silvio thead th {
	border-color: #333;
}

.colors-silvio .navigation-top,
.colors-silvio .main-navigation > div > ul,
.colors-silvio .pagination,
.colors-silvio .comment-navigation,
.colors-silvio .entry-footer,
.colors-silvio .site-footer {
	border-top-color: #333;
}

.colors-silvio .single-featured-image-header,
.colors-silvio .navigation-top,
.colors-silvio .main-navigation li,
.colors-silvio .entry-footer,
.colors-silvio #comments {
	border-bottom-color: #333;
}

.colors-silvio .site-header,
.colors-silvio .single-featured-image-header {
	background-color: #262626;
}

.colors-silvio button,
.colors-silvio input[type="button"],
.colors-silvio input[type="submit"],
.colors-silvio .prev.page-numbers:focus,
.colors-silvio .prev.page-numbers:hover,
.colors-silvio .next.page-numbers:focus,
.colors-silvio .next.page-numbers:hover {
	color: #222;
}

body.colors-silvio,
.colors-silvio .site-content-contain,
.colors-silvio .navigation-top,
.colors-silvio .main-navigation ul {
	background: #222;
}

.colors-silvio .entry-title a,
.colors-silvio .entry-meta a,
.colors-silvio.blog .entry-meta a.post-edit-link,
.colors-silvio.archive .entry-meta a.post-edit-link,
.colors-silvio.search .entry-meta a.post-edit-link,
.colors-silvio .page-links a,
.colors-silvio .page-links a .page-number,
.colors-silvio .entry-footer a,
.colors-silvio .entry-footer .cat-links a,
.colors-silvio .entry-footer .tags-links a,
.colors-silvio .edit-link a,
.colors-silvio .post-navigation a,
.colors-silvio .logged-in-as a,
.colors-silvio .comment-navigation a,
.colors-silvio .comment-metadata a,
.colors-silvio .comment-metadata a.comment-edit-link,
.colors-silvio .comment-reply-link,
.colors-silvio a .nav-title,
.colors-silvio .pagination a,
.colors-silvio .comments-pagination a,
.colors-silvio .widget .widget-title a,
.colors-silvio .widget ul li a,
.colors-silvio .site-footer .widget-area ul li a,
.colors-silvio .site-info a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(34, 34, 34, 1); /* Equivalant to #222 */
	box-shadow: inset 0 -1px 0 rgba(34, 34, 34, 1); /* Equivalant to #222 */
}

/* Fixes linked images */
.colors-silvio .entry-content a img,
.colors-silvio .widget a img {
	-webkit-box-shadow: 0 0 0 8px #222;
	box-shadow: 0 0 0 8px #222;
}

.colors-silvio .entry-footer .edit-link a.post-edit-link {
	color: #000;
}

.colors-silvio .menu-toggle,
.colors-silvio .menu-toggle:hover,
.colors-silvio .menu-toggle:focus,
.colors-silvio .dropdown-toggle,
.colors-silvio .dropdown-toggle:hover,
.colors-silvio .dropdown-toggle:focus,
.colors-silvio .menu-scroll-down,
.colors-silvio .menu-scroll-down:hover,
.colors-silvio .menu-scroll-down:focus {
	background-color: transparent;
}

.colors-silvio .gallery-item a,
.colors-silvio .gallery-item a:hover,
.colors-silvio .gallery-item a:focus,
.colors-silvio .widget .tagcloud a,
.colors-silvio .widget .tagcloud a:focus,
.colors-silvio .widget .tagcloud a:hover,
.colors-silvio .widget.widget_tag_cloud a,
.colors-silvio .widget.widget_tag_cloud a:focus,
.colors-silvio .widget.widget_tag_cloud a:hover,
.colors-silvio .wp_widget_tag_cloud a,
.colors-silvio .wp_widget_tag_cloud a:focus,
.colors-silvio .wp_widget_tag_cloud a:hover,
.colors-silvio .entry-footer .edit-link a.post-edit-link:focus,
.colors-silvio .entry-footer .edit-link a.post-edit-link:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media screen and (min-width: 48em) {

	.colors-silvio .nav-links .nav-previous .nav-title .icon,
	.colors-silvio .nav-links .nav-next .nav-title .icon {
		color: #eee;
	}

	.colors-silvio .main-navigation li li:hover,
	.colors-silvio .main-navigation li li.focus {
		background: #999;
	}

	.colors-silvio .menu-scroll-down {
		color: #999;
	}

	.colors-silvio .main-navigation ul ul {
		border-color: #333;
		background: #222;
	}

	.colors-silvio .main-navigation ul li.menu-item-has-children:before,
	.colors-silvio .main-navigation ul li.page_item_has_children:before {
		border-bottom-color: #333;
	}

	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:after {
		border-bottom-color: #222;
	}

	.colors-silvio .main-navigation li li.focus > a,
	.colors-silvio .main-navigation li li:focus > a,
	.colors-silvio .main-navigation li li:hover > a,
	.colors-silvio .main-navigation li li a:hover,
	.colors-silvio .main-navigation li li a:focus,
	.colors-silvio .main-navigation li li.current_page_item a:hover,
	.colors-silvio .main-navigation li li.current-menu-item a:hover,
	.colors-silvio .main-navigation li li.current_page_item a:focus,
	.colors-silvio .main-navigation li li.current-menu-item a:focus {
		color: #222;
	}

}
