/*
Theme Name: Coming Soon
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.bgimg {
    background-image: url('assets/img/wp_background.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: inherit;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.logo {
    padding: 5px 10px;
    background-color: #262626;
    font-weight: bolder;
    font-size: 45px;
    color: #67655D;
}

.middle h1, #demo {
    background-color: #262626;
    color: #67655D;
}