/*
Theme Name: Twenty Seventeen Child
Template: twentyseventeen
*/

@import url('https://fonts.googleapis.com/css?family=Plaster');

body {
	font-family: 'Ubuntu', sans-serif;
}

h1.site-title a {
	font-size: 42px;
	color: #c5ba97 !important;
}

.wp-custom-header img {
	display: none;
}

.wp-custom-header {
	background-image: url(wp_background.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
